<header class="header">
    
   <div class="header__container">
        <a class="header__phone" href="tel:+380663456788">
            <svg class="header__phone-icon" width="20" height="20">
                <use href="/src/image/svg/mobile.svg#icon-phone"></use>
            </svg>
            <p class="header__phone-text">Contact us: +380663456788</p>
        </a>
        <div class="header__wrapper">
            <a href="/src/index.html">
                <svg width="24" height="24">
                    <use href="/src/image/svg/mobile.svg#icon-logo"></use>
                </svg>
            </a>
            <div class="icon__hiden">
                <svg class="header__icon" width="24" height="24">
                    <use href="/src/image/svg/mobile.svg#icon-close"></use>
                </svg>
            </div>
            <button class="header__btn" aria-hidden="true">
                <svg class="header__icon" width="24" height="24">
                    <use href="/src/image/svg/mobile.svg#icon-menu"></use>
                </svg>
            </button>
        </div>
   </div>

    <nav class="header__nav header__mob-open">
        <ul class="header__list">
            <li class="header__item"><a href="">Main</a></li>
            <li class="header__item"><a href="">About</a></li>
            <li class="header__item"><a href="">Services</a></li>
            <li class="header__item"><a href="">Contacts</a></li>
        </ul>
    </nav>
    
</header>